<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RetainCycleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCB4E0C41CA0E87400625A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB4E0DD1CA0E87400625A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB4E0E81CA0E87400625A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
